/* CSS RESET START */
*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
/* CSS RESET END */


body{
    font-family: 'Cabin', sans-serif;
    background: #000;
}

h1 {
    font-weight: 600;
    font-size: 4em;
    color: #fff;
    letter-spacing: 0.04em;
}
h3 {
    font-weight: 600;
    font-size: 0.85em;
    line-height: 1.25em;
    color: #B2B2B2;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: left;
}

h4 {
    font-weight: 400;
    font-size: 0.85em;
    line-height: 1.25em;
    color: #B2B2B2;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: left;
}

header {
    display: flex;
    width: 70%;
    height: 5em;
    margin: 0 auto;
    
    .logo{
        font-weight: 600;
        font-size: 1.5em;
        letter-spacing: 0.08em;
        color: #fff;
        cursor: pointer;
        margin: auto 0;
    }
}

nav{
    margin: auto 0 auto auto;
    cursor: pointer;
    word-spacing: 1.5em;
}

.main-nav {
    a{
        height: 1em;
        margin: auto 0;
        font-weight: 400;
        font-size: 1em;
        letter-spacing: 0.04em;
        color: #9E9E9E;
        text-align: right;
        &:hover{
            font-weight: 600;
            color: #fff;
        }
        &.icon {
            display: none
        }
    }
}


/* CONTENT */
.main-about {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin:  120px auto;

    .h1-description {
        font-weight: 400;
        font-size: 1.125em;
        color:#B2B2B2;
        letter-spacing: 0.04em;
    }
    .wrapper {
        margin: 0 auto;
        display: grid;
        grid-template-areas:"about preview preview"
                            "skills-title preview preview"
                            "ux ui preview";
        grid-template-columns: 2fr 1fr 2fr;
        grid-column-gap: 40px;
        grid-row-gap: 32px;
            & > .about {
                grid-area: about;
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 2;
                text-align: left;
                font-weight: 400;
                font-size: 18px;
                line-height: 30px;
                color: #fff;
                letter-spacing: 0.5px;
                }
            & > .skills {
                    p {
                        font-weight: 400;
                        font-size: 1em;
                        line-height: 1.75em;
                        color: #fff;
                        letter-spacing: 0.04em;
                        text-align: left;
                    }
                    p::before {
                        content: "•";
                        padding-right: 8px;
                    }
                }
            & > h3 {
                grid-area: skills-title;
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 2;
                grid-row-end: 2;
                color: white;
                }
            & > .ux {
                grid-area: ux;
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 2;
                grid-row-end: 2;
                }
            & > .ui {
                grid-area: ui;
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 2;
                }
            & > .main-preview {
                grid-area: preview;
                grid-column-start: 2;
                grid-column-end: 2;
                background-color: #fff;
                }
        padding: 64px 0px 88px 0px;
        border-bottom: 1px solid #393939;
            }
    }
@media screen and (max-width: 980px) {
    .main_nav{
        a{
            display: none
        }
        a.icon {
            float: right;
            margin-top: 100px;
            display: block;
            color: #9E9E9E;
            font-size: 32px;
        }
    }
    .main_nav.responsive {
        position: relative;
        top: 50px;
        left: -200px;
    }
    header .main_nav.responsive {
        height: 340px;
        a{
            float: none;
            display: block;
            text-align: left;
         }
    }
}