*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

li{
    list-style: none;
}

header{
    display: flex;
    width: 100%;
    height: 80px;
    background: #000;  
}
.header_logo{
    width: 50%;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 2px;
    color: #fff;
    cursor: pointer;
    margin: 24px 15% 24px 15%;
}
nav{
    width: 50%;
    height: 80px;
    word-spacing: 20px;
    cursor: pointer;
    margin: 24px 15% 24px 0%;
}
.main_nav a{
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #9E9E9E;
    text-align: right;
}
.main_nav a:hover{
    font-weight: 600;
    color: #fff;
}
a.icon {
    display: none
}


/* Content block starts here */
main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main_about{
    width: 100%;
    margin: 0 auto;
    background-color: #000;
    padding: 120px 15% 88px 15%;
}
.main_about h1{
    font-weight: 600;
    font-size: 64px;
    color: #fff;
    letter-spacing: 2px;
    padding: 120px 15% 8px 15%:
 }
.h1_description{
    font-weight: 400;
    font-size: 18px;
    color:#B2B2B2;
    letter-spacing: 0.5px;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
    display: grid;
    padding: 64px 0px 88px 0px;
    border-bottom: 1px solid #393939;
}

main .about{
    width: 35%;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    letter-spacing: 0.5px;
    padding: 0px 64px 0px 0px; 
}
main .about p{
    padding: 0px 0px 48px 0px;
}
.list_left{
    display: flex;
    padding: 64px 0px 88px 0px;
}
.list_title{
    width: 20%;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #B2B2B2;
    letter-spacing: 0.5px;
    font-variant: small-caps;
}
.list_style{
    list-style-type: circle
}
main .list_middle{
    width: 35%;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
    letter-spacing: 0.5px;
    padding: 0px 64px 0px 0px; 
}
main .pic_right{

}





@media screen and (max-width: 980px){
    .main_nav a{
        display: none
    }
    .main_nav a.icon {
        float: right;
        margin-top: 100px;
        display: block;
        color: #9E9E9E;
        font-size: 32px;
    }
    nav{
        width: 100%
    }
    .main_nav.responsive{
        position: relative;
        top: 50px;
        left: -200px;
    }
    header .main_nav.responsive{
        height: 340px;
    }
    .main_nav.responsive a{
       float: none;
       display: block;
       text-align: left;
    }

}

body{
    font-family: 'Cabin', sans-serif;
}